/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90vh;
    width: 90%;
    padding: 5vh 5%;
    gap: 10%;
}

header .image {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;

    height: 100%;

}

header .image img {
    height: auto;
    width: clamp(200px, 70%, 500px);
}

header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 5%;

    height: 100%;
}

header .content span.highlight {
    color: var(--light-sea-green);
    font-weight: 600;
}

header .content .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: clamp(1rem, 10vh, 4rem);
    width: 100%;
    gap: 20%;
}

header .content .buttons a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: clamp(20px, 10vh, 60px);
    width: clamp(125px, 15vw, 800px);
    font-size: clamp(20px, 10%, 25px);

    background: var(--light-sea-green);
    border-radius: 15px;
}

/* End Header */

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 50vh;
    width: 100%;
    gap: 10%;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    gap: 10%;
}

main section .news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10%;
    height: 100%;
}

