/* Header */
header {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 90vh;
    width: 90%;
    gap: 10%;
}

header .image {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;

    height: 100%;

}

header .image img {
    height: auto;
    width: clamp(200px, 70%, 500px);
    transition: all 400ms ease-in-out;
}

header .image img:hover {
    transform: scale(1.1);
}

header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 5%;

    height: 100%;
}

header .shadow {
    text-shadow: var(--rich-black) 0 0 2px;
}

header .content span.highlight {
    color: var(--light-sea-green);
    font-weight: 600;
}

header .content .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: clamp(1rem, 10vh, 4rem);
    width: 100%;
    gap: 20%;
}


header .container {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;

    padding: 5% 5%;

    width: 90%;
    height: 90%;

    z-index: 1;

}

header #background-Header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
    width: 100%;

    z-index: 0;
}


/* End Header */

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 50vh;
    width: 100%;
    gap: 10%;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    gap: 10%;
}

main section .news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10%;
    height: 100%;
}

