/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Rosarivo:ital@0;1&display=swap');
/* End Fonts */

/* Variables */
:root {
    --baby-powder: #FDFFFC;
    --rich-black: #1d1d1d;
    --delft-blue: #38405F;
    --light-sea-green: #2EC4B6;
    --red-pantone: #E71D36;
}
/* End Variables */

* {
    font-family: 'Rosarivo', cursive;
    letter-spacing: 5px;
    color: var(--baby-powder);
}
/* Start Remove default behavior */

body {
    margin: 0;
    padding: 0;
    background: var(--rich-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(20px, 10vh, 70px);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;
}

/* End Remove default behavior */

/* Start Global style */

.button_redirection {
    display: flex;
    justify-content: center;
    align-items: center;

    height: clamp(25px, 15vh, 100px);
    width: clamp(100px, 10vw, 800px);

    border: 2px solid #f5f5f5;
    border-radius: 15px;
}

header {
    height: 90vh;
    width: 90%;
    padding: 5vh 5%;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--rich-black) 200px ), repeating-linear-gradient( #38405F55, var(--delft-blue) );
}


h1 {
    font-size: 3.5rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

footer {
    height: 10vh;
    width: 100%;

    margin: 25px 0 10px 0;
}

/* End Global style */

/* Start Consent style */

#consentModal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 25vh;
    width: 50vw;

    background: #f5f5f5;

}

#consentModal h1 {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
}

#consentModal #consentModalButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 25%;
    width: 100%;
}

#consentModal button {
    height: 25px;
    width: 50px;
    border-radius: 5px;
    background: #151515;
    color: #f5f5f5;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* End Consent Style */
